Pixel.class
.replit
replit.nix
ImageTester.class
ImageTester$1.class
ImageTester$COLOR.class
Image.class
Image$1.class
Image$FORMAT.class
Image$TYPE.class
Filter.class
.DS_Store
testoutput/.DS_STORE
testoutput/blank.jpg
testoutput/blank.png
testoutput/random.jpg
testoutput/random.png
testoutput/testImageBright.jpg
testoutput/testImageBright.png
testoutput/testImageCopy.png
testoutput/testImageCopy.jpg
testoutput/testImageNoRed.png
testoutput/testImageNoRed.jpg
testoutput/testImageNoGreen.png
testoutput/testImageNoGreen.jpg
testoutput/testImageNoBlue.png
testoutput/testImageNoBlue.jpg
testoutput/testImageGrayscale.png
testoutput/testImageGrayscale.jpg
testoutput/testImageFlipVertical.png
testoutput/testImageFlipVertical.jpg
testoutput/testImageFlipHorizontal.png
testoutput/testImageFlipHorizontal.jpg