# mac .DS_Store
**/.DS_Store

# ignore .vscode
.vscode/

# ignore the lib/ directory
lib/

# any .class or .jar files
**.class
**.jar

# replit/nix environment
*.replit
*.nix

# ignore every file in the resources directory except two
src/test/resources/Graphics/*
src/test/resources/Images/*
!src/test/resources/Images/testImage.jpg
!src/test/resources/Images/testImage.png

# ignore the classes in the target directory
target/*
!target/org.bvsd.javalibrary-1.0.jar
!target/org.bvsd.javalibrary-2.0.jar
